<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Pi Webserver</title>
    <script src="../static/index.js"></script>
</head>
<body>
    <div id="main_container">
        <div id="main_header_div">
            <h1 id="main_header">
                My Pi TV-Alarm
            </h1>
        </div>
        <form id="alarm_clock_form">
            <input id="time" type="time" value="07:00" required>
            <input id="set_alarm_button" type="button" value="Set alarm">
        </form>
    </div>
</body>
</html>